img {
    margin: auto;
    max-width: 50px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

button, div {
    display: inline-block;
}

.container {        
    display: flex;
    align-items: center;
}

.mat-body {
    text-align: center;
}