<app-link-view></app-link-view>
<div>
  <mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
      
    </mat-sidenav>
  
  
  
    <mat-sidenav-content>
        <app-account-guide></app-account-guide>
        <app-user-guide></app-user-guide>
        <app-restaurant-guide></app-restaurant-guide>
        <app-search-guide></app-search-guide>
        <app-basket-guide></app-basket-guide>
        <app-orders-guide></app-orders-guide>
        
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>