<section class="mat-typography">
  <h1>Searching for a restaurant</h1>
  <ul>
    <li>
      This is where you search for a restaurant to dine at. There are 3 parameters to customize the search; the location which can be selected by clicking 
      anywhere on the map or by clicking the 'Get my location' button, the radius and the restaurant cuisine type. Any restaurant found will be displayed
      as a regular map marker, that may be selected to display the restaurant card and the distance of the restaurant from the selected location.
      <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FrestaurantSearch.png?alt=media&token=9df26834-6b26-440a-8673-a147ccf10e59">
      <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FsearchWithResults.png?alt=media&token=1c5ef981-c018-4451-9fe3-decce685b463">
      <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FrestaurantSearchCard.png?alt=media&token=1a70fe8e-f748-494d-ba46-527b4a64025e">
    </li>
  </ul>
</section>