<section class="mat-typography">
    <h1>User Management</h1>

    <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FuserDashboard.png?alt=media&token=3ee2f6a6-26f0-49cf-81d2-0b539d44170b">
    <p>
      Your user dashboard page shows your user profile (which consists of your name and a picture) 
      along with your restaurants (in their card view) and a paged list of your purchases. 
      You can create restaurants by clicking the plus next to the username.
      <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FcreateRestaurant.png?alt=media&token=c8db7109-6861-41cb-a2ca-a0db5743cc88">
      As you are the owner of the restaurants, the restaurant cards also display an edit and delete button along with a way to navigate to the restaurants orders.
      The edit button will popout a restaurant form filled in with the details of the selected restaurant.
      <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FeditRestaurant.png?alt=media&token=1bfcda3a-6779-47d9-b2d9-8a895e39daa8">
      The delete button will popout a confirmation
      <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FdeleteRestaurant.png?alt=media&token=b747accf-86af-4754-8df2-7e165af13703">
      
      At the bottom of the page is the paged list of your purchases. These purchases show the restaurant name you ordered at, the dishes you ordered
      and their prices, the total price and the date time you ordered (in the format of "time of first purchase - time of last purchase")
      <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FmyPurchases.png?alt=media&token=e239a580-c8be-4603-af75-93aa2578cfea">
    </p>

</section>