<form [formGroup]="menuForm" novalidate (ngSubmit)="submitValue.emit(menuForm.value)">
  <h2 class="mat-title">Menu Form</h2>
  <div>
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="name">
        <mat-error>Name is a required field</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="textarea">
        <textarea matInput type="text" formControlName="description" placeholder="description"></textarea>
        <mat-error>Name is a required field</mat-error>
      </mat-form-field>
    </div>

    <div>
      <button color="primary" mat-raised-button type="submit" [disabled]="!menuForm.valid">Create</button>
    </div>

</form>