<section class="mat-typography">
  <h1>Managing your restaurant orders</h1>
  <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FcurrentOrdersRestaurant.png?alt=media&token=923410e9-1372-4238-ab6e-1315aef64043">
  <p>
    A restaurant's orders page will display the orders for the restaurant made within the last 3 hours and will update in realtime any orders that have 
    been made since the page was opened (so no need to refresh).
    They will be split into 3 sections; pending, cooking and cooked. You have to manually move them to the next section and also have the ability 
    to move them to the previous section in case of mistakes. When you update them, the user will see the updated order status in realtime.
  </p>
</section>