<section class="mat-typography">
  <h1>Restaurant Guide</h1>
  <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FrestaurantDashboardInfo.png?alt=media&token=637b4894-7ed4-4e97-86d0-4ad88425d0a7">
  <p>
    The restaurant dashboard show general information about the restaurant; it's name, description, the cuisine type, a picture and the location
    through google maps. The dine at button creates a popout to select what table you are at.  
    <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FselectTable.png?alt=media&token=86b359bf-f79f-42cf-ad24-f290987f40f1">

    The dashboard also displays the restaurant's menu (which is the composition of multiple menus). Here you have the ability to add a menu to your restaurant,
    along with editing and deleting a menu too, following the same structure as other entities. You also have the ability to add dishes to your menu,
    and also editing and removing the dishes. These actions are only available if you are the restaurant owner.
    <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FrestaurantDashboardMenu.png?alt=media&token=7664bcaa-e333-4200-b202-2af7fd4d5b3a">

    The dishes have actions to add the dish to your basket and see the reviews for the dish, which is displayed as a popout.
    <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2Fdishreviews.png?alt=media&token=201438db-09c8-4f0e-bdef-81447674a7ab">
    
  </p>

</section>