<app-header></app-header>
<div>
    <ng-content></ng-content>
</div>
    

<mat-toolbar color="primary"></mat-toolbar>

<!--
<mat-sidenav-container color="primary" >

  <mat-sidenav (click)="sidenav.close()" #sidenav >
      <button mat-button (click)="navigateHome()">Home</button>
      <button mat-button (click)="navigateMyOrders()">my orders</button>

      <app-user-small-container></app-user-small-container>
      <app-dining-at-container></app-dining-at-container>
  </mat-sidenav>

  <mat-sidenav-content>
      <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
-->