<section class="mat-typography">
    <h1>Account Management</h1>
  
    <h3>
      Creation:
    </h3>
    <p>
      You create an account on the /login page. You can do this by inputting a valid email and password and clicking the submit button, or
      by clicking the google login button and selecting a google account.
    </p>
    <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FloginPage.png?alt=media&token=07ddcf5e-fcae-4b1f-9189-76c71326d22b">
    <h3>
      Management:
    </h3>
    <p>
      When you login in, you will have a component in the header that contains the options to manage your account. 
    
      <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FScreenshot%20from%202018-04-10%2019-00-23.png?alt=media&token=2452f444-86c3-442f-a8b2-907ff5b1f4d8">
      <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FuserSmallContainer.png?alt=media&token=6ff6124e-8986-4a11-a325-23b9ad86e494">
    
      There is a user icon, a button that displays your username which navigates you to your user page and
      a menu that has 3 options, edit account, delete account and logout.
    
    <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FuserAccountMenu.png?alt=media&token=b441923a-98a3-449e-8259-26c7a8f9a6c5">
    
      Clicking on edit account will popout an edit account menu. Here you have the option to change your username and user picture.

    <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FeditUser.png?alt=media&token=39276285-535e-4b16-b4d9-73dab94493f7">

      Delete account will popout a confirmation message to make sure you wish to delete your account.

    <img src="https://firebasestorage.googleapis.com/v0/b/restaurantapp-ba70b.appspot.com/o/documentation%2FdeleteUser.png?alt=media&token=baa54f97-4827-4dab-8f1d-79e90320cdfc">
      logout will take you to the login page and remove any saved auth information.
    </p>
  
  </section>