<p>{{order.dish}}</p>
<p>{{order.quantity}</p>
<p>{{order.timestamp | date: 'short'}}</p>


<!--
<div class="orderContainer">
  <section class="mat-typography">
      <p><strong>Restaurant:</strong></p>
      <p>{{order.restaurant | uppercase}}</p>
      <p><strong>Dishes:</strong></p>
      <div>
        <p *ngFor="let dish of order.dishes">
          {{dish.name}}
        </p>
      </div>
        
      <p><strong>Price:</strong></p>
      <p>{{order.price | currency:'GBP'}}</p>
      <p><strong>Date:</strong></p>
      <p>{{order.timestamp | date: 'short'}}</p>
  </section>
  
</div>
-->